<% bouncehouses.each do |bouncehouse| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <!-- <= link_to image_tag(bouncehouse.cover_photo(:medium)), bouncehouse %> -->
        <%= image_tag bouncehouse.photos[0].image.url(:medium) if bouncehouse.photos.length > 0 %>
      </div>
      <div class="panel-body">
        <div class="container">
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><strong><%= link_to bouncehouse.listing_name, bouncehouse %></strong></span></br>
          <span class="col-md-12" style="padding-left: 0px; padding-right: 0px;"><span id="star_<%= bouncehouse.id %>"></span>&nbsp;<%= pluralize(bouncehouse.guest_reviews.count, "review") %>
          <span class="pull-right" style="border: 1px solid black; padding: 5px;"><b>$<%= bouncehouse.price %></b></span>
        </div>
      </div>
    </div>
  </div>
  
  
  <script>
    $('#star_<%= bouncehouse.id %>').raty({
      path: '/assets',
      readOnly: true,
      score: <%= bouncehouse.average_rating %>
    });
  </script>
<% end %>