<!-- Image -->
<div class="row">
  <div class="col-md-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <% if @photos.present? %>
        <ol class="carousel-indicators">
          <% @photos.each_with_index do |photo, index| %>
            <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>
      <% end %>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% if @photos.present? %>
          <% @photos.each_with_index do |photo, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <%= image_tag photo.image.url %>
            </div>
          <% end %>
        <% end %>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <!-- LEFT PANEL -->
  <div class="col-md-8">
    <!-- Listing Name -->
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h2><%= @bouncehouse.listing_name %></h2>
          <%= @bouncehouse.address %>
        </div>

        <div class="col-md-3 text-center">
          <%= image_tag @bouncehouse.user.image, class: "img-circle avatar-large" %><br/>
          <%= link_to user_path(@bouncehouse.user) do %>
            <%= @bouncehouse.user.fullname %>
          <% end %>
          <div>
            <span id="average_rating"></span>
          </div>
          <div class="center">
            <% if current_user && current_user != @bouncehouse.user %>
              <%= link_to "Message Host", conversations_path(sender_id: current_user.id, recipient_id: @bouncehouse.user.id), method: :post, class: "btn btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>  
    <hr/>
      
    <!-- bouncehouse Info -->
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <i class="fas fa-home fa-2x"></i>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <i class="fa fa-clock fa-2x"></i>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <i class="fa fa-truck fa-2x"></i>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
      </div>
    
      <div class="row text-center">
        <div class="col-xs-3 col-sm-3 col-md-3"><%= @bouncehouse.bouncehouse_type %></div>

        <div class="col-xs-3 col-sm-3 col-md-3"><%= @bouncehouse.time_limit %></div>

        <div class="col-xs-3 col-sm-3 col-md-3"><%= @bouncehouse.pickup_type %></div>

        <div class="col-xs-3 col-sm-3 col-md-3"><%= @bouncehouse.instant %></div>

      </div>
    </div>  
    <hr/>
  
    <!-- About -->
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Description</div>
          <div class="panel-body">
            <div class="container">
              <p><%= @bouncehouse.description %></p>
             </div>  
          </div>
        </div>
      </div>
    </div>  
    <br/>
  
    <!-- AMENITIES --> 
    <div class="container">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Amenities</div>
            <div class="panel-body">
              <div class="container">
                <div class="col-md-12">
                  <div class="row">
                    
                    <div class="col-xs-4 col-sm-4 col-md-4">
                      <ul class="amenities">
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_slide %>">Slide</li>
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_waterslide %>">Waterslide</li>
                      </ul>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4">
                      <ul class="amenities">
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_basketball_hoop %>">Basketball Hoop</li>
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_lighting %>">Lighting</li>
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_sprinkler %>">Sprinkler</li>
                      </ul>
                    </div>

                    <!-- <div class="col-xs-4 col-sm-4 col-md-4"> -->
                      <ul class="amenities">
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_speakers %>">Wifi Speakers</li>
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_wall_climb %>">Wall Climb</li>
                        <li class="<%= 'text-line-through' if !@bouncehouse.is_heated %>">Heated</li>
                        <!-- <li class="<= 'text-line-through' if !@bouncehouse.is_wifi %>">Wifi</li> -->
                      </ul>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
  
    <!-- REVIEWS -->
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Guest Reviews (<%= @guest_reviews.count %>) <span id="average_rating"></span></div>
          <div class="container">
            <div class="panel-body">
              <div><%= render "reviews/guest_list" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!-- GOOGLE MAP -->
    <div class="container">
      <div class="row">
        <div id="map" style="width: 100%; height: 400px"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwN_tpAAKnHhy14HzNqK-XeuarVJhNHg8"></script>
        <script>
         function initialize() {
            var location = {lat: <%= @bouncehouse.latitude %>, lng: <%= @bouncehouse.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 12
            });
    
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
    
            var infoWindow = new google.maps.InfoWindow({
              content: '<div id="content"><%= image_tag @bouncehouse.cover_photo(:medium) %></div>'
            });
    
            infoWindow.open(map, marker);
          }
    
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
      </div>
    </div>  
    <hr/>

    <!-- NEARBY BOUNCE HOUSES -->
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Nearby Bounce Houses</div>
            <% if @bouncehouse.nearbys(10).present? %>
              <% @bouncehouse.nearbys(10).each do |nearby_bouncehouse| %>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading preview">
                      <%= image_tag nearby_bouncehouse.cover_photo(:medium) %>
                    </div>
                        
                    <div class="panel-body">
                      <div class="container">
                        <%= link_to nearby_bouncehouse.listing_name, nearby_bouncehouse %><br/>
                        (<%= nearby_bouncehouse.distance.round(2) %> miles away)
                      </div>
                    </div>
                  </div>  
                </div>
              <% end %>
            <% else %>
              <div class="text-center">
                <h4>There are no nearby bouncehouses.</h4>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT PANEL -->
  <div class="col-md-4">
    <!-- RESERVATION FORM -->
    <%= render 'reservations/form' %>
  </div>
</div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @bouncehouse.average_rating %>
  });
</script>
