<div class="row">
  <div class="col-md-12 banner text-center">
    <h1><span>Book a chracter for your event<span style="color: #FF385C;"> simple and easy.</spand></h1>
  </div>

  <div class="col-md-12"><h4>Search for a character for your event</h4></div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a Chracter", class: "form-control", id: "autolocation" %>
  </div>&nbsp;

  <div class="col-md-2">
    <%= submit_tag "Search", class: "btn btn-form btn-block" %>
  </div>
</div>
<% end %>&nbsp;

<h2 class="col-md-12 text-center">Luigi is out here making <span style="color: green; font-size: 1.5em;">$$$</span> on this app.</h2>

<div class="text-center">
  <!-- Video element -->
  <video class="col-xs-4-offset-3" id="myVideo" controls autoplay>
    <source src="/assets/luigi-dancing-on-car.mp4" type="video/mp4">
    <source src="/assets/luigi-dancing-on-car.webm" type="video/webm">
    <source src="/assets/luigi-dancing-on-car.ogv" type="video/ogg">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<!-- CHARACTERS -->
<div class="text-center"><h2>Characters Near You</h2>
  <p>Book a Character</p>
</div>
<br/>

<div class="row">
  <%= render partial: "characters/characters_list", locals: {characters: @characters} %>
</div>

<%# <h2 class="col-md-12 text-center">Luigi is out here making <span style="color: green; font-size: 1.5em;">$$$</span> on this app.</h2> %>

<!-- VIDEO -->
<%# <div class="text-center"> %>
  <!-- Video element -->
  <%# <video class="col-xs-4-offset-3" id="myVideo" controls autoplay>
    <source src="/assets/luigi-dancing-on-car.mp4" type="video/mp4">
    <source src="/assets/luigi-dancing-on-car.webm" type="video/webm">
    <source src="/assets/luigi-dancing-on-car.ogv" type="video/ogg">
    Your browser does not support the video tag.
  </video>
</div> %>
<br/>

<!-- HOW IT WORKS -->
<section class="">
  <div class="container">
    <div class="page-section">
    <div class="banner text-center">
     	<h2 class="text-blue">Contact-less Awesomeness</h2>
      <h3></h3>
    </div>
        
    <div class="row text-center">
      <div class="col-md-4">
      <div class="fas fa-robot fa-4x text-blue"></div>
        <h3 class="my-3">Character for Parties On-Demand Booking</h3>
        <p class="text-center">Like what you see? Confirm your date and await your approval from the host. Listings with the <i class="fa fa-bolt" style="color: #ffb400"></i> icon will be booked instantly.</p>
      </div>
                        
      <div class="col-md-4">
      <div class="fas fa-envelope fa-4x text-blue"></div>
        <h3>Chat With Us</h3>
        <p class="text-center">Send a message to your character host if you need additional information. Character Host will communicate any additional information as needed in a timely manner.</p>
      </div>
                        
      <div class="col-md-4">
      <div class="fas fa-credit-card fa-4x text-blue"></div>
       	<h3>Book and Pay</h3>
       	<p class="text-center">Our calender system helps both character host and guest see your reservation day in realtime. Submit your payment will be a breeze through our secure online checkout.</p>
      </div>
      
      <div class="row">
        <div class="banner col-lg-12 text-center">
          <button class="btn btn-form">
            <%= link_to "Book Now!", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section class="">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-blue">Customer Testimonials</h2>
      <h3 class="section-subheading text-muted">Here's what our customers had to say...</h3>
    </div>
      
    <div class="banner row">
      <div class="col-lg-4 text-center">
        <h3>Katy S.</h3>
        <p>"Glad to hove found this website. No longer do I have to search high and low for a great party entertainer for my kids."</p>
        <div class="col-md-12 text-center">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
        </div>
      </div>&nbsp;
      
      <div class="col-lg-4 text-center">
        <h3>Larry P.</h3>
        <p>"There's probably no other better way to escape the ridiculous fees other marketplaces charge. I now enjoy having the ability to see more of my earning using my own booking website."</p>
        <div class="col-md-12 text-center">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
        </div>
      </div>&nbsp;
      			
      <div class="col-lg-4 text-center">
        <h3>Diana W.</h3>
        <p>"Our guest were completely satisfied with booking on our site and not having to pay ridiculous booking fees."</p>
        <div class="col-md-12 text-center">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
        </div>
      </div>&nbsp;

      <div class="col-lg-4 text-center">
        <h3>Patricia M.</h3>
        <p>"We booked Luigi for my friend's bachelorette party and he was better than the "hired adult entertainer." I'll be booking again soon. Thank you!"</p>
        <div class="col-md-12 text-center">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
        </div>
      </div>&nbsp;

      <div class="col-lg-4 text-center">
        <h3>Cole B.</h3>
        <p>"I had a spiderman costume collecting dust and then out of nowhere I found CharactersForParties. Client request and revenue shoot through the roof almost immediately. This is one highly lucrative side hustle!"</p>
        <div class="col-md-12 text-center">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
        </div>
      </div>

      <div class="col-lg-4 text-center">
        <h3>Sam F.</h3>
        <p>"All of the WYSIWYG website design templates were a complete waste of time and money and when I found this company, the white glove service of getting my website branded and live in literally no time was completetly worthwhile. So glad I found you all!"</p>
        <div class="col-md-12 text-center">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
          <img alt="1" src="/assets/star-on.png">
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="banner text-blue text-center">
          <h2>CharacterForParties Benefits</h2>
          <ul class="list-unstyled">
            <li>Killer Marketplace Website <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Premier Website Branding <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Outstanding Website Content <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Increased Occupancy <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Host Dashboard <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Host Calendar <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Revenue Chart <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>"Instant" or "Request" Booking Options <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>In-app Guest Payments <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>On-Demand Payouts Integration<i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Fast Site Development <i class="fas fa-check checkmark" style="color: green;"></i></li>
            <li>Web Domain Name <i class="fas fa-check checkmark" style="color: green;"></i></li>
          </ul>
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class="banner col-lg-12 text-center">
        <button class="btn btn-form">
          <%= link_to "Get Started Now!", new_user_registration_path, style: "text-decoration: none; color: #FFF; font-weight: 500; font-size: 20px" %>
        </button>
        </div>

        <div class="banner text-blue text-center"><h2>Time to dust off that Character Mascot costume! Character for Parties allows you to book more buisness!</h2></div>
        <br/>

<div class="row">
  <div class="col-md-3 col-sm-3">
		<a href="https://characterforparties.com/search?utf8=✓&search=chicago">
			<div class="discovery-card" style="background-image: url('/assets/chicago.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Chicago</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
  
	<div class="col-md-3 col-sm-3">
		<a href="https://characterforparties.com/search?utf8=✓&search=atlanta">
			<div class="discovery-card" style="background-image: url('/assets/atlanta.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Atlanta</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
  
	<div class="col-md-3 col-sm-3">
		<a href="https://characterforparties.com/search?utf8=✓&search=losangeles">
			<div class="discovery-card" style="background-image: url('/assets/la.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Los Angeles</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
	
	<div class="col-md-3 col-sm-3">
		<a href="https://characterforparties.com/search?utf8=✓&search=houston">
			<div class="discovery-card" style="background-image: url('/assets/houston.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Houston</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });
  
  // $('#end_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#start_date').datepicker("option", "maxDate", selected);
  //   }
  // });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>