<div class="container">
  <div class="row">
    <div class="col-md-3" id="filter-column">
      <!-- SEARCH PANEL -->
      <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
        More Filters <i class="fa fa-chevron-down"></i>
      </button><hr>

      <div class="collapse" id="collapsePanel">
        <%= search_form_for @search, url: search_path, remote: true do |f| %>
          <div class="form-group">
            <label>Price range:</label>
            <div id="slider-range"></div>
            <label>Min Price:</label>
            <%= f.text_field :price_gteq, class: "form-control" %>
            <label>Max Price:</label>
            <%= f.text_field :price_lteq, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
            <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
          </div>

          <div class="form-group">
            <label>Time Limit</label>
            <%= f.select :time_limit_gteq, [["1hr.", "1hr."], ["2hrs.", "2hrs."], ["3hrs.", "3hrs."], ["8hrs.", "8hrs."]],
                         prompt: "Select...", class: "form-control" %>
          </div>

          <div class="form-group">
            <label>Character Type</label>
            <%= f.select :character_type_gteq, [["Movie Character", "Movie Character"], ["Cartoon Character", "Cartoon Character"], ["Impersonator","Impersonator"]],
                         prompt: "Select...", class: "form-control" %>
          </div>

          <!-- <div class="form-group">
            <label>Amenities</label>
            <%= check_box_tag "q[is_slide_eq_any]", "true" %> Slide<br>
            <%= check_box_tag "q[is_waterslide_eq_any]", "true" %> Waterslide<br>
            <%= check_box_tag "q[is_basketball_hoop_eq_any]", "true" %> Basketball Hoop<br>
            <%= check_box_tag "q[is_speaker_eq_any]", "true" %> Wifi Speakers<br>
            <%= check_box_tag "q[is_lighting_eq_any]", "true" %> Lighting<br>
            <%= check_box_tag "q[is_sprinkler_eq_any]", "true" %> Sprinkler<br>
            <%= check_box_tag "q[is_heated_eq_any]", "true" %> Heated<br>
            <%= check_box_tag "q[is_wall_climb_eq_any]", "true" %> Wall Climb
          </div> -->

          <div class="text-center">
            <%= f.submit "Search", class: "btn btn-form" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <!-- LISTINGS -->
      <div id="character_listing">
        <%= render partial: "characters/characters_list", locals: {characters_list: @arrCharacters} %>
      </div>
    </div>
    <br>

    <!-- GOOGLE MAP WILL BE HERE -->

    <div id="map" style="width: 100%; height: 400px; margin-top: 20px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCa0Y1ZKXoASepQNlMeYoUO6pLZIwAovg"></script>
  </div>
    <script>

      function initialize(characters) {
        var location = {lat: 44.5403, lng: -78.5463}

        if (characters.length > 0) {
          location = {lat: characters[0].latitude, lng: characters[0].longitude}
        }

        var map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 12
        });

        var marker, infowindow;

        characters.forEach(function(character){
          marker = new google.maps.Marker({
            position: {lat: character.latitude, lng: character.longitude},
            map: map
          });

          infowindow = new google.maps.InfoWindow({
            content: "<div class='map_price'>$" + character.price + "</div>"
          });

          infowindow.open(map, marker);
        });

      }

      google.maps.event.addDomListener(window, 'load', function () {
        initialize(<%= raw @arrCharacters.to_json %>)
      });
    </script>
  </div>
</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  var open = true;

  $('#filter').click(function() {
    if (open) {
      $('#filter').html("More filters <i class='fa fa-chevron-up'></i>");
    } else {
      $('#filter').html("More filters <i class='fa fa-chevron-down'></i>");
    }
    open = !open;
  });

  $(function() {
    $("#q_price_gteq").val('50');
    $("#q_price_lteq").val('5000');

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 5000,
      values: [50, 5000],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });

    $(".ui-widget-header").css('background', '#2C3E50');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#2C3E50');
  });

  function initialize(characters) {
    var location = {lat: 41.881832, lng: -87.623177};

    if (characters.length > 0) {
      location = {lat: characters[0].latitude, lng: characters[0].longitude};
    }

    var map = new google.maps.Map(document.getElementById('map'), {
      center: location,
      zoom: 12
    });

    var marker, infowindow;

    characters.forEach(function(character) {
      marker = new google.maps.Marker({
        position: {lat: character.latitude, lng: character.longitude},
        map: map
      });

      infowindow = new google.maps.InfoWindow({
        content: "<div class='map_price'>$" + character.price + "</div>"
      });

      infowindow.open(map, marker);
    });
  }

  google.maps.event.addDomListener(window, 'load', function() {
    initialize(<%= raw @arrCharacters.to_json %>);
  });
</script>

<style>
  @media (max-width: 768px) {
    #filter-column {
      order: -1;
    }
  }
</style>
