<div class="row">
  <!-- Form Column -->
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @character.new_record? ? "Create Your Listing" : "Edit Your Listing" %>
      </div>
      <div class="panel-body">
        <%= form_for @character, html: { multipart: true } do |f| %>

          <div class="container">
            <div class="">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :character_type, "Character Type" %>
                  <%= f.select :character_type, [["Movie Character", "Movie Character"], ["Cartoon Character", "Cartoon Character"], ["Impersonator","Impersonator"]],
                    id: "character_type", prompt: "Select...", class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :time_limit, "Time Limit" %>
                  <%= f.select :time_limit, [["1 hr.", "1 hr."], ["2 hrs.", "2 hrs."], ["3 hrs.", "3 hrs."]],
                    id: "time_limit", prompt: "Select...", class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :instant, "Booking Type" %>
                  <%= f.select :instant, Character.instants.map { |key, value| [key.humanize, key] }, prompt: "Select...", class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :listing_name, "Listing Name" %>
                  <%= f.text_field :listing_name, class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :description, "Description" %>
                  <%= f.text_area :description, class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :address, "Location" %>
                  <%= f.text_field :address, class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :price, "Price" %>
                  <%= f.number_field :price, class: "form-control", required: true %>
                </div>
              </div>

              <!-- AMENITIES -->

              <!-- PHOTO UPLOAD -->
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :photos, "Photos" %>
                  <div class="btn btn-default btn-file text-babu">
                    <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> Upload Photos
                    <%= f.file_field :photos, multiple: true, class: "form-control-file" %>
                  </div>
                </div>
              </div>

              <!-- PHOTOS LIST -->
              <div id="photos">
                <%= render 'characters/photos_list' %>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <%= f.check_box :active, class: 'form-check-input', checked: @character.active %>
                  <%= f.label :active, "Active", class: 'form-check-label' %>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div><%= f.submit @character.new_record? ? "Create My Listing" : "Update My Listing", class: "btn btn-normal" %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- AD COLUMN -->
  <div class="col-md-3">
    
    <br><br/>
  </div>
</div>
