<!DOCTYPE html>
<html>
  <head>
    <title>Character for Parties | Book a Character Near You</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=[GOOGLE_API_KEY]&callback=initMap"></script>

    <!-- Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Character for Parties">
    <meta name="keywords" content="Character for Parties, Party Characters, Party Entertainment Characters">
    <meta name="description" content="Character for Parties allows you to book a character near you.">
    <meta name="google-site-verification" content="iaOgBh0ngIx4hheLrH4JU1_1Cl2Mq9SBgpVRf_av_zM">
    <meta property="og:site_name" content="Character for Parties">
    <meta property="og:url" content="https://characterforparties.com">
    <meta property="og:title" content="Character for Parties | Book a Character">
    <meta property="og:description" content="Character for Parties allows you to book a character near you.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="<%= image_url('characterforparties-logo.svg') %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://characterforparties.com">
    <meta name="twitter:title" content="Character for Parties">
    <meta name="twitter:image" content="<%= image_url('characterforparties-logo.svg') %>">

    <!-- Scripts -->
    <script src="https://secure.quantserve.com/quant.js" async></script>
    <script src="https://www.googleadservices.com/pagead/conversion_async.js" async></script>
    <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W6ZCFF13GD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-W6ZCFF13GD');
    </script>

    <%= render 'shared/footer' %>
    <% debug(params) if Rails.env.development? %>
  </body>
</html>
